.perspective {
    -webkit-perspective: 76em;
    perspective: 76em;
    -webkit-perspective-origin: 50% 50px;
    perspective-origin: 50% 50px;
  
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
  
}

    .perspective input {
        display: none;
    }

    .perspective .tab {
        position: absolute;
     
        background: pink;


    }

        .perspective .tab:nth-child(1) {
            top: -5px;
            background: #06D6A0;
        }

        .perspective .tab:nth-child(2) {
            top: 69px;
            background: #1B9AAA;
        }

        .perspective .tab:nth-child(3) {
            top: 143px;
            background: #EF476F;
        }

    .perspective .cube {
        position: relative;
        margin: 60px auto 0;
        width: 300px;
        height: 200px;
        -webkit-transform-origin: 0 100px;
        transform-origin: 0 100px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: -webkit-transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    }

    .perspective .tab-content {
        width: 300px;
        height: 200px;
        position: absolute;
    }

        .perspective .tab-content h1 {
            font-size: 25px;
            margin: 75px 0 10px;
            font-weight: 300;
        }

        .perspective .tab-content p {
            font-size: 12px;
        }

        .perspective .tab-content:nth-child(2) {
            -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
            background: #1B9AAA;
        }

        .perspective .tab-content:nth-child(1) {
            -webkit-transform: rotateX(-270deg) translateY(-100px);
            transform: rotateX(-270deg) translateY(-100px);
            -webkit-transform-origin: top left;
            transform-origin: top left;
            background: #06D6A0;
        }

        .perspective .tab-content:nth-child(3) {
            -webkit-transform: rotateX(-90deg) translateY(100px);
            transform: rotateX(-90deg) translateY(100px);
            -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
            background: #EF476F;
        }

#input:checked ~ .cube {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

