<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <script src="../js/weui/jquery-2.1.4.js"></script>
    <script src="../js/vue.min.js"></script>
    <link href="../css/weui/weui.min.css" rel="stylesheet" />
    <link href="../css/ionicons/ionicons.min.css" rel="stylesheet" />
    <style>
        div {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        img {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .btngm {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5a1a82+1,6720ad+50,60189b+52,a376db+100 */
            background: rgb(90,26,130); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(90,26,130,1) 1%, rgba(103,32,173,1) 50%, rgba(96,24,155,1) 52%, rgba(163,118,219,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(90,26,130,1) 1%,rgba(103,32,173,1) 50%,rgba(96,24,155,1) 52%,rgba(163,118,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(90,26,130,1) 1%,rgba(103,32,173,1) 50%,rgba(96,24,155,1) 52%,rgba(163,118,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a1a82', endColorstr='#a376db',GradientType=0 ); /* IE6-9 */
        }
        .bg {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.65+0,0+100 */
            background: -moz-linear-gradient(top, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        }

        .itextB {
            filter: glow(color:blue, strength=2);
            color: white;
            font-weight: 900;
            text-shadow: 2px 2px 5px blue;
        }

        .itextG {
            filter: glow(color:blue, strength=2);
            color: white;
            font-weight: 900;
            text-shadow: 2px 2px 5px #dd7299;
        }
        .itextW {
            filter: glow(color:blue, strength=2);
            color: #e9e9e9 /*#607d8b*/;
            font-weight: 400;
            text-shadow: 1px 1px 3px #673ab7;
        }
    </style>
</head>
<body style="background-color:#f8f8f8;margin:0;">
    <img src="../img/Guan/b.jpg" style="position:absolute;width:100%;height:100%;object-position:top;object-fit:cover;opacity:0.8;top:0;left:0;z-index:1" />
    <div style="width:100%;height:100%;position: absolute;top:0;left:0;z-index:2" class="bg">
        <div id="mybody" style="width:100%;">
            <div style="height:3%"></div>
            <div style="height:40%;width:100%;position:relative;padding:0 5%;display:flex;flex-direction:column;">
                <div style="flex:1;height:50%;position:relative;display:flex;">
                    <div style="flex:0 0 50%;text-align:center">
                        <img :src="Data.PaiPai.Img" style="position: relative;top: 50%;transform: translateY(-50%);height:20vh;width:20vh;object-fit:cover;object-position:top;border-radius:999em;" onerror="this.src='../img/icon/noimage_person.png'" />
                    </div>
                    <div style="flex:0 0 50%">
                        <div style="position:relative;top:50%;transform:translateY(-50%)">
                            <p class="itextG" style="font-size: 5vw;line-height: 5vh;text-align:center">{{Data.PaiPai.Name}}</p>
                            <p class="itextG" style="font-size: 1.5vh; line-height: 2vh; text-align: center;">{{Data.PaiPaiWords}}</p>
                        </div>

                    </div>
                </div>

                <div style="flex:1;height:50%;position:relative;display:flex;">
                    <div style="flex:0 0 50%">
                        <div style="position:relative;top:50%;transform:translateY(-50%)">
                            <p class="itextB" style="font-size: 5vw;line-height: 5vh;text-align:center">{{Data.BanBan? Data.BanBan.Name : "等待冠名中..."}}</p>
                            <p class="itextB" v-if="Data.BanBan" style="font-size: 1.5vh; line-height: 2vh; text-align: center;">{{Data.BanBanWords}}</p>
                        </div>
                    </div>
                    <div style="flex:0 0 50%;text-align:center">
                        <img :src="(Data.BanBan? Data.BanBan.Img : '')" style="position: relative;top: 50%;transform: translateY(-50%);height:20vh;width:20vh;object-fit:cover;object-position:top;border-radius:999em;" onerror="this.src='../img/icon/noimage_person.png'" />
                    </div>

                </div>

            </div>
            <div style="height:3%"></div>
            <div class="itextW" style="height:30%;overflow-y:auto;width:90%;box-shadow: 2px 2px 20px #4c2e94;left:5%;position:relative;background-color:rgba(204, 204, 204, 0.4);border-radius:20px;padding:0.6em 5px">
                <div v-if="Data.BanBan">
                    <div style="display:flex">
                        <div style="flex:0 0 4em">
                            <p style="font-size: 0.6em;line-height: 2.5em;color:#e9e9e9">10/15 16:25 </p>
                        </div>
                        <div style="flex:1">
                            <p>你們被 <span style="color:#7b45cf">傾心客服</span> 懟了一下</p>
                        </div>
                    </div>
                    <div style="display:flex">
                        <div style="flex:0 0 4em">
                            <p style="font-size: 0.6em;line-height: 2.5em;color:#e9e9e9">10/15 16:23 </p>
                        </div>
                        <div style="flex:1">
                            <p>你們被 <span style="color:#7b45cf">愛璃💕存單優惠</span> 讚了一下</p>
                        </div>
                    </div>
                    <div style="display:flex">
                        <div style="flex:0 0 4em">
                            <p style="font-size: 0.6em;line-height: 2.5em;color:#e9e9e9">10/15 16:21 </p>
                        </div>
                        <div style="flex:1">
                            <p><span style="color:#7b45cf">飄飄🖤</span> 修改了宣言 : <span style="color:#251652">願我如星君如月，夜夜流光相皎潔</span></p>
                        </div>
                    </div>
                    <div style="display:flex">
                        <div style="flex:0 0 4em">
                            <p style="font-size: 0.6em;line-height: 2.5em;color:#e9e9e9">10/15 16:20 </p>
                        </div>
                        <div style="flex:1">
                            <p><span style="color:#7b45cf">傾心客服-二哈</span> 修改了宣言 : <span style="color:#251652">夜月一簾幽夢，春風十里柔情</span></p>
                        </div>
                    </div>
                </div>


            </div>

            <div v-if="Data.BanBan && !isKeying" style="width:100%;text-align:center;position:fixed;bottom:3px">
                <div class="itextW" style="text-align:center;height:40px;" @click="ismin=!ismin">
                    <i class=" text-inverse" v-bind:class="{'ion-ios-arrow-down':(!ismin),'ion-ios-arrow-up':(ismin)}" style="font-size:1em;display: inline-block;top: 50%;position: relative;transform: translateY(-50%);"></i>
                </div>
                <div ref="btnlist">
                    <a href="javascript:;" style="margin:0" @click="keyinwords" class="weui-btn weui-btn_mini weui-btn_primary btngm">宣言</a>
                    <a href="javascript:;" style="margin:0" class="weui-btn weui-btn_mini weui-btn_primary btngm">裝飾</a>
                </div>

            </div>
            <div v-show="Data.BanBan && isKeying" @click="window.dispatchEvent(new Event('resize'))" class="weui-mask" style="z-index:100"></div>
            <div v-show="Data.BanBan && isKeying" style="width:100%;text-align:center;position:fixed;bottom:0px;z-index:101;background-color:white" >

                <div class="weui-cell weui-cell_vcode" >

                    <div class="weui-cell__bd" style="height: 35px;">
                        <form @submit="savewords" style="height:100%">
                            <input style="line-height: 35px;height:100%" autofocus="" v-model="Data.PaiPaiWords" id="inputTxt" class="weui-input" type="text"  placeholder="輸入想發表的宣言" maxlength="50">

                        </form>            
                    </div>
                 
                </div>
            </div>
        </div>
    </div>

    <script>
        var ttt;
        document.addEventListener("plusready", function () {
            alert = function (e, cb) {
                plus.nativeUI.alert(e, function () {
                    if (cb) {
                        cb()
                    }
                }, "訊息", "確定");
            }
            var Server_Token = plus.storage.getItem("Server_Token");

            $.ajax({
                url: "https://api_m.7cplay.com/api/" + "GuanMin",
                type: 'get',
                headers: { "Server_Token": encodeURIComponent(Server_Token) },
                success: function (rs) {
                    if (rs.result_status) {
                        ttt = new Vue({
                            el: '#mybody',
                            data: {
                                canshow: false,
                                Data: rs.result_content,
                                ismin: false,
                                isKeying: false,
                                keyback: null,
                                PaiPaiWords: rs.result_content.PaiPaiWords,
                            },
                            watch: {
                                ismin: function (v) {
                                    if (v) {
                                        $(this.$refs.btnlist).slideUp(200);
                                    } else {
                                        $(this.$refs.btnlist).slideDown(200);
                                    }
                                }
                            },
                            methods: {
                                savewords: function () {
                                    var self = this;
                                   // plus.nativeUI.showWaiting()
                                    console.dir("1")
                                    //todo patch 要加ID當參數
                                    $.ajax({
                                        url: "https://api_m.7cplay.com/api/" + "GuanMin",
                                        type: 'patch',
                                    
                                        data: { "PaiPaiWords": self.PaiPaiWords, "GuanMin_List_ID": self.Data.GuanMin_List_ID },
                                        headers: { "Server_Token": encodeURIComponent(Server_Token) },
                                        success: function (r) {
                                            console.dir("3")
                                            if (r.result_status) {
                                             
                                                alert("修改成功");
                                                plus.webview.currentWebview().reload();
                                            } else {
                                                alert(r.result_message);
                                            }
                                            //plus.nativeUI.closeWaiting()
                                        }
                                    });
                                    console.dir("2")
                                },
                            
                                keyinwords: function () {
                                    this.isKeying = true;
                                    this.$nextTick(function () {
                                        document.getElementById('inputTxt').focus()
                                    })
                                    var self = this;
                                    this.orgh = window.outerHeight;
                                  //  console.dir(" this.orgh")
                                    this.resz = function () {
                                     
                                        if (self.orgh <= window.outerHeight) {
                                          
                                            self.isKeying = false;
                                            window.removeEventListener('resize', self.resz)
                                        } else {
                                            self.isKeying = true;
                                        }
                                     
                                    }
                                    window.addEventListener('resize', this.resz)
                                  
                                },
                                setting: function () {
                                    var ws = plus.webview.currentWebview();
                                    ws.setStyle({ mask: 'rgba(0,0,0,0.5)' });
                                    ws.addEventListener('maskClick', function () {
                                        if (plus.webview.getWebviewById("GuanMinSetting"))
                                            plus.webview.getWebviewById("GuanMinSetting").close();
                                        ws.setStyle({ mask: 'none' });

                                    }, false);


                                    var w = plus.webview.create('_www/Partition/MyGuanMinSetting.html', 'GuanMinSetting',
                                        {
                                            "top": "44px",
                                            "bottom": "0px",
                                            "cachemode": "default",
                                            "popGesture": "close",
                                            "userSelect": false,
                                            plusrequire: "ahead",
                                            background: "white",
                                            'titleNView': {
                                                // autoBackButton:true,
                                                'backgroundColor': '#dd7299',
                                                'type': "default",
                                                'titleColor': 'white',
                                                'titleText': "冠名設定",
                                                'buttons':  [
                                                    {
                                                        'text': '\uf217',
                                                        'float': 'right',
                                                        "fontSrc": "_www/css/ionicons/ionicons.ttf",

                                                    },
                                               

                                                ],
                                            },
                                        });
                                    w.addEventListener("close", function () {
                                        ws.setStyle({ mask: 'none' });
                                    })
                                    
                                }
                            },
                            mounted() {
                                var self = this;
                                var ws = plus.webview.currentWebview();
                                try {

                                    ws.setStyle({
                                        titleNView: {
                                            //backgroundColor:"rgb(199,201,226)",
                                            buttons: [
                                                { "type": "back", float: "left", colorPressed: "rgba(255,255,255,0.3)" },
                                                { "type": "menu" },
                                            ]
                                        }
                                    });

                                    ws.setTitleNViewButtonStyle(0, { onclick: function () { ws.close() } });
                                    ws.setTitleNViewButtonStyle(1, { onclick: function () { self.setting() } })


                                    var wsv = ws.getSubNViews();
                                    if (wsv) {
                                        if (wsv.length > 0) {
                                            var subNViews = ws.getSubNViews().find(e => e.__id__ == 'loadingsub');
                                            if (subNViews) {
                                                subNViews.close()
                                            }
                                        }
                                    }


                                } catch (e) {

                                }




                            }
                        })

                    } else {
                        alert(rs.result_message);
                    }
                },

            });

        })


    </script>
</body>
</html>

