<div class="page bdbg slideIn js_show" id="homepagebd" style="height:100%;overflow-y:hidden;overflow-x:hidden">

    <div style="height:0px;">

    </div>
    <div id="homehd" class="page__hd " style="height:100px;padding:0;margin:0;margin-bottom:3px;position:relative;">
        <!--  Array.prototype.concat.apply([],GInfo.KindList.map(e=>e.Detail)) -->

        <div class="swiper-container" style="">
            <div class="swiper-wrapper">

                <!--<div class="swiper-slide" style="position:relative;background-image: url('img/banner/banner1010.jpg');width:100%;height:100%;background-repeat:no-repeat;-webkit-background-size:auto 100%  ;background-position:center;"></div>-->
                <div class="swiper-slide" style="position:relative;background-image: url('img/banner/banner0815.jpg');width:100%;height:100%;background-repeat:no-repeat;-webkit-background-size:auto 100%  ;background-position:center;" onclick="plus.nativeUI.previewImage(['https://7cplay.com/img/activity/Halloween_H.jpg?1'])"></div>
                <!--<div class="swiper-slide" style="position:relative;background-image: url('img/banner/benner2_0976.jpg');width:100%;height:100%;background-repeat:no-repeat;-webkit-background-size:auto 100%  ;background-position:center;"></div>-->
                <!--<div class="swiper-slide" style="position:relative;background-image: url('img/banner/banner2.jpg');width:100%;height:100%;background-repeat:no-repeat;-webkit-background-size:auto 100% ;background-position:center;"></div>
                <div class="swiper-slide" style="position:relative;background-image: url('img/banner/banner3.jpg');width:100%;height:100%;background-repeat:no-repeat;-webkit-background-size:auto 100% ;background-position:center;"></div>-->

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->

        </div>

    </div>

    <div class="page__bd" style="margin-top:3px" id="">

        <div id="mescroll" style="overflow-y:auto;overflow-x: hidden;">
            <div>
                <div style="display:flex;height:160px;flex-wrap:wrap;color:white;font-size:16px">
                    <!--<div style="flex:0 0 50%;height:80px;" @click="cho(6)">
          <div style="display:flex;position:relative;background-color:rgb(123, 73, 250);margin:0 auto ;width:98%;height:95%;border-radius:10px">
              <div style="flex:0 0 35%;height:100%;">
                  <img src="img/icon/game/lol.png" style="object-fit:scale-down;max-width:60%;max-height:100%;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)" />
              </div>
              <div style="flex:0 0 65%;height:100%;">
                  <div style="top:50%;transform:translateY(-50%);position:relative">
                      英雄聯盟
                      <div class="isand" style="font-size:12px">菁英指導 御姐帶隊</div>
                      <div class="isnotand" style="font-size:12px">菁英指導 專家帶隊</div>
                  </div>
              </div>
          </div>

      </div>


    -->

                    <div style="flex:0 0 50%;height:80px;" onclick="hovernav_new(this, 'Free',{titleText:'體驗區 全部品類'})" btag="HomeAllType">
                        <div style="display:flex;position:relative;background-color:rgb(123, 73, 250);margin:0 auto ;width:98%;height:95%;border-radius:10px">
                            <div style="flex:0 0 35%;height:100%;">
                                <img src="img/icon/game/coupon.png" style="object-fit:scale-down;max-width:60%;max-height:100%;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)" />
                            </div>
                            <div style="flex:0 0 65%;height:100%;">
                                <div style="top:50%;transform:translateY(-50%);position:relative">
                                    體驗區
                                    <div style="font-size:12px">綁定手機 輕鬆體驗</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="flex:0 0 50%;height:80px;" onclick="hovernav_new(this, null,{titleText:'全部品類'})" btag="HomeAllType">
                        <div style="display:flex;position:relative;background-color:rgb(255, 154, 74);margin:0 auto ;width:98%;height:95%;border-radius:10px">
                            <div style="flex:0 0 35%;height:100%;">
                                <img src="img/icon/all.png" style="object-fit:scale-down;max-width:60%;max-height:100%;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)" />
                            </div>
                            <div style="flex:0 0 65%;height:100%;">
                                <div style="top:50%;transform:translateY(-50%);position:relative">
                                    全部品類
                                    <div style="font-size:12px">更多遊戲 更多娛樂</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="flex:0 0 50%;height:80px;" @click="paidan">
                        <div style="display:flex;position:relative;background-color:rgb(255, 65, 172);margin:0 auto ;width:98%;height:95%;border-radius:10px">
                            <div style="flex:0 0 35%;height:100%;">
                                <img src="img/icon/game/bb.png" style="object-fit:scale-down;max-width:60%;max-height:100%;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)" />
                            </div>
                            <div style="flex:0 0 65%;height:100%;">
                                <div style="top:50%;transform:translateY(-50%);position:relative">
                                    閃電約單
                                    <div style="font-size:12px" class="isand">即刻約單 馬上陪玩</div>
                                    <div style="font-size:12px" class="isnotand">即刻約單 馬上組隊</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="flex:0 0 50%;height:80px;" onclick="hovernav_new(this, null,{titleText:'惡魔監獄'})" btag="Jail">
                        <div style="display:flex;position:relative;background-color:rgb(195, 68, 255);margin:0 auto ;width:98%;height:95%;border-radius:10px">
                            <div style="flex:0 0 35%;height:100%;">
                                <img src="img/icon/game/prison.png" style="object-fit:scale-down;max-width:60%;max-height:100%;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)" />
                            </div>
                            <div style="flex:0 0 65%;height:100%;">
                                <div style="top:50%;transform:translateY(-50%);position:relative">
                                    惡魔監獄
                                    <div style="font-size:12px">監管名單 務必小心</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--<div style="flex:0 0 50%;height:80px;" @click="getcoupon()">
        <div style="display:flex;position:relative;background-color:rgb(255, 65, 172);margin:0 auto ;width:98%;height:95%;border-radius:10px">
            <div style="flex:0 0 35%;height:100%;">
                <img src="img/icon/gift2.png" style="object-fit:scale-down;max-width:60%;max-height:100%;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)" />
            </div>
            <div style="flex:0 0 65%;height:100%;">
                <div style="top:50%;transform:translateY(-50%);position:relative">
                    兌換體驗券
                    <div style="font-size:12px">了解陪陪 免費體驗</div>
                </div>
            </div>
        </div>
    </div>-->


                </div>

                <div style="height:3px"></div>

                <div style="font-size:16px;color:black;margin-top:5px;padding-left:2%" class="weui-cells__title">

                    <span style="background-color:deepskyblue;">&nbsp;</span>
                    優質新人

                </div>
                <div style="width:100%;overflow-x:auto;overflow-y:hidden;white-space: nowrap;padding-left:1vw">
                    <div v-if="newerlist.length != 0" style="width:45vw;display: inline-block;padding-bottom:10px;position:relative" :onclick="'hovernav_new(this, null, {titleText:\''+arr.Name+'\',img:\''+arr.Img+'_s\',moreinfo:true,type:\'transparent\'})'" btag="PlayerPage" :bparam="arr.Member_ID" v-for="arr in newerlist">

                        <div style="width:98%;background-color:white;border-radius:10px;position:relative;overflow:hidden;padding-bottom:5px">
                            <div style="object-fit:cover;width:100%;height:22vh;border-radius:10px;position:relative;background-position:top;background-size:cover;" v-bind:style='{"background-image":"url("+arr.Img+"_s)" }'>


                                <div style="overflow:hidden;position:relative;width:100%;top:20vh;height:2vh;background-color:rgba(0,0,0,.3)">

                                    <span style="display: inline-block;float: right;width: 1.2vh;height: 1.2vh;margin-top: 0.4vh;margin-right: 3px;border-radius: 999em;" v-bind:class="{'light_online':(arr.LastTime==null),'light_offline':(arr.LastTime!=null)}"></span>
                                    <span style="color:white;float:right;font-size:1vh;line-height:2vh;margin-right: 3px;" v-bind:style="{'color':(arr.LastTime==null?'greenyellow':'white')}">{{((arr.LastTime==null)?"線上":moment(arr.LastTime).startOf('second').fromNow())}}</span>
                                </div>

                            </div>
                            <div binfo="name" style="padding-left:10px;font-size:12px;width:100%;position:relative;white-space:nowrap">

                                <span v-bind:style="{color:(arr.color||'black')}" class="dot" v-bind:class="{nameshadow:(arr.color||'black' != 'black')}" style="max-width:70%;">{{arr.Name}}</span>
                                <span v-if="(conf.hidenews)?false:true" id="genderlab" v-bind:class='{"ganlabel_g":(arr.Gender=="G"),"ganlabel_b":(arr.Gender=="B"),"ganlabel_n":(arr.Gender=="N")}' style="padding:0 5px;line-height:14px"><span style="font-size:10px">{{arr.Age}}</span></span>

                            </div>

                            <div style="clear:both"></div>
                            <div style="padding-left:10px;font-size:10px;position:relative;color:gray;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                {{(arr.Description||"")==""?"&nbsp":arr.Description}}
                            </div>

                        </div>
                    </div>

                </div>
                <div style="clear:both"></div>

                <div v-if="((list.find(e=>e.Zuzu_Kind_ID == item.ID))? (list.find(e=>e.Zuzu_Kind_ID == item.ID)).List :[]).length != 0" v-for="(item,idx) in Array.prototype.concat.apply([],GInfo.KindList.map(e=>e.Detail))">

                    <div style="font-size:16px;color:black;margin-top:5px;padding-left:2%" class="weui-cells__title">

                        <span style="background-color:deepskyblue;">&nbsp;</span>
                        {{item.Name}}
                        <a href="javascript:;" v-if="(conf.hidenews)?false:true" class="weui-btn weui-btn_mini weui-btn_default" @click="cho(item.ID,true)" style="display:inline;padding: 0.5em 1.32em;">30元體驗區</a>
                        <span style="float:right;color:#576B95;" @click="cho(item.ID)">更多</span>
                    </div>
                    <div style="width:100%;overflow-x:auto;overflow-y:hidden;white-space: nowrap;padding-left:1vw">
                        <div v-if="list.length != 0" style="width:45vw;display: inline-block;padding-bottom:10px;position:relative" v-for="arr in ((list.find(e=>e.Zuzu_Kind_ID == item.ID))? (list.find(e=>e.Zuzu_Kind_ID == item.ID)).List :[])" @click="hov(arr.Member_Certification_ID)">

                            <div style="width:98%;background-color:white;border-radius:10px;position:relative;overflow:hidden;padding-bottom:5px">
                                <div style="object-fit:cover;width:100%;height:22vh;border-radius:10px;position:relative;background-position:top;background-size:cover" v-bind:style='{"background-image":"url("+arr.Img+"_s)" }'>
                                    <div v-bind:class="((arr.R.isRecommand==true)?{T_R:true}:((arr.R.isTop==true)?{T_T:true}:{}))" class=""></div>
                                    <div v-bind:class="((arr.CanFree>0)?{T_Free:true}:{})" class=""></div>
                                    <!--<div style="position:relative;width:100%;top:110px;height:18px">
                                        <span id="genderlab" class="ganlabel_star" style="padding:0 5px;line-height:14px"><span style="font-size:10px">{{(arr.Birthday?publicTools.Xingzuo(moment(arr.Birthday).month()+1, moment(arr.Birthday).date()):"不公開")}}</span></span>
                                    </div>-->


                                    <div style="overflow:hidden;position:relative;width:100%;top:20vh;height:2vh;background-color:rgba(0,0,0,.3)">
                                        <span class="" style="float:left;font-size:1vh;line-height:2vh;color:white;padding-left:5px">
                                            <i v-for="(va,inx) in 5" v-bind:class='{ "fa-star": ((arr.Rate)-(inx+1)>=0),"fa-star-half-o": ((arr.Rate)-(inx+1)<0&&(arr.Rate)-(inx+1)>=-0.5),"fa-star-o": ((arr.Rate)-(inx+1)<-0.5) } ' alt="" class="fa fa-2x " style="font-size:10px;color:gold"></i>
                                            ({{arr.Rate}})
                                        </span>
                                        <span style="display: inline-block;float: right;width: 1.2vh;height: 1.2vh;margin-top: 0.4vh;margin-right: 3px;border-radius: 999em;" v-bind:class="{'light_online':(arr.LastTime==null),'light_offline':(arr.LastTime!=null)}"></span>
                                        <span style="color:white;float:right;font-size:1vh;line-height:2vh;margin-right: 3px;" v-bind:style="{'color':(arr.LastTime==null?'greenyellow':'white')}">{{((arr.LastTime==null)?"線上":moment(arr.LastTime).startOf('second').fromNow())}}</span>
                                    </div>

                                </div>
                                <div binfo="name" style="padding-left:10px;font-size:12px;width:100%;position:relative;white-space:nowrap">

                                    <span v-bind:style="{color:(arr.color||'black')}" class="dot" v-bind:class="{nameshadow:(arr.color||'black' != 'black')}" style="max-width:70%;">{{arr.Name}}</span>
                                    <span v-if="(conf.hidenews)?false:true" id="genderlab" v-bind:class='{"ganlabel_g":(arr.Gender=="G"),"ganlabel_b":(arr.Gender=="B"),"ganlabel_n":(arr.Gender=="N")}' style="padding:0 5px;line-height:14px"><span style="font-size:10px">{{arr.Age}}</span></span>

                                </div>

                                <div v-if="(conf.hidenews)?false:true" style="padding-left:10px;font-size:10px;position:relative;color:gray;line-height:15px">
                                    接單{{arr.OrderTimes}}次
                                    <span style="color:red;font-size:10px;float:right;padding-right:5px"> {{arr.Fee}}幣/ {{arr.Unit}}</span>
                                </div>

                                <div style="clear:both"></div>
                                <div style="padding-left:10px;font-size:10px;position:relative;color:gray;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                    {{(arr.Title||"")==""?"&nbsp":arr.Title}}
                                </div>

                            </div>
                        </div>

                    </div>
                    <div style="clear:both;"></div>

                </div>
            </div>



        </div>

    </div>
    <div class="page__ft ">
        <br>
    </div>
    <script>
        if (plus.webview.getWebviewById("loading") != null) {
          //  plus.webview.getWebviewById("loading").show();
        }

        function testroom() {
            var cw;

            if (JSON.parse(Server_Token).Status == "管理員") {
                cw = plus.webview.create(debugurl + "Partition/OrderRoom.html", "OrderRoom", { "cachemode": "noCache", "background": "white", "popGesture": "none", "height": "100%", "margin": "auto", "width": "100%", "userSelect": false }, { roomid: "77001", memid: GInfo.MyInfo.Member_ID, callbyme: "isme", meimg: "{{myinfo}}", herimg: "{{sheinfo}}" });
            }
            else {
                cw = plus.webview.create('Partition/OrderRoom.html', "OrderRoom", { "cachemode": "noCache", "background": "white", "popGesture": "none", "height": "100%", "margin": "auto", "width": "100%", "userSelect": false }, { roomid: "77001", memid: GInfo.MyInfo.Member_ID, callbyme: "isme", meimg: "{{myinfo}}", herimg: "{{sheinfo}}" });
            }
            //cw.onclose = function () {

            //    var sendobj = { OffSource: GInfo.MyInfo.Member_ID, OffTarget: "{{sheinfo.Member_ID}}", Event: "Off" };
            //    bbim.callphone(JSON.stringify(sendobj));

            //    cw = null;
            //}
            cw.show();
        }


        if (!top["DataBase"]["NewHome"]) {
            var NewHomeDataBase = plus.storage.getItem("NewHomeDataBase")
            if (NewHomeDataBase != null) {
                top["DataBase"]["NewHome"] = JSON.parse(NewHomeDataBase)
            } else {
                top["DataBase"]["NewHome"] = [];
            }

        }
        if (!top["DataBase"]["NewHotNewer"]) {
            var NewHotNewerDataBase = plus.storage.getItem("NewHotNewerDataBase")
            if (NewHotNewerDataBase != null) {
                top["DataBase"]["NewHotNewer"] = JSON.parse(NewHotNewerDataBase)
            } else {
                top["DataBase"]["NewHotNewer"] = [];
            }

        }

        $("#mescroll").height($("#homepagebd").height() - 150)
        console.dir($("#mescroll"))
        var newhomevue =  new Vue({
            el: "#homepagebd",
            data: {
                list: top["DataBase"]["NewHome"],
                newerlist: top["DataBase"]["NewHotNewer"],
                canshow: true,
                mescroll:null,
            },
            methods: {
                paidan: function () {
                    var nviewobj = {};
                    nviewobj.titleText = "閃電約單";
                    $('<a onclick=\'hovernav_new(this)\' btag="PaiDanPage" ></a>')
                        .attr("nview", JSON.stringify(nviewobj)).click();
                },
                cho: function (id,isfree) {
                    //console.dir(id)

                    if (id) {
                        var obj = { id: id, isfree: isfree }


                    }
                    else {
                        var obj = { id: 0, isfree: isfree }

                    }
                    var nviewobj = {};

                    for (var i = 0; i < GInfo.KindList.length; i++) {
                        for (var j = 0; j < GInfo.KindList[i].Detail.length; j++) {
                            var item = GInfo.KindList[i].Detail[j];
                            if (item.ID == id) {
                                nviewobj.titleText = item.Name + " ";
                            }
                        }
                    }
                    nviewobj.titleText += (isfree ? "體驗區" : "官方嚴選")
                    console.dir(nviewobj.titleText)
                    //hovernav_new()
                   // $('<a onclick=\'hovernav(this)\' btag="SkillListView" ></a>').attr("bparam", JSON.stringify(obj)).click();
                    $('<a onclick=\'hovernav_new(this)\' btag="SkillListView" ></a>')
                        .attr("bparam", JSON.stringify(obj))
                        .attr("nview", JSON.stringify(nviewobj)).click();
                },
                hov: function (id) {
                    $('<a onclick="hovernav(this,\'' + id + '\',false)" btag="Skill" ></a>').click();
                },
                getcoupon: function () {
                    var self = this;
                    plus.nativeUI.prompt("請輸入兌換序號:", function (e) {
                        console.log(((e.index == 0) ? "OK: " : "Cancel") + e.value);
                        if (e.index == 0) {

                            if (e.value == "") {
                                self.getcoupon();
                                alert("序號不可為空!");
                                return;
                            }
                            if (e.value.length != 6) {
                                self.getcoupon();
                                alert("序號格式錯誤!");
                                return;
                            }
                            plus.nativeUI.showWaiting("搶號中...")
                            $.ajax({
                                url: ajaxurl + "Coupon",
                                type: 'post',
                                data: { code: e.value},
                                headers: { "Server_Token": encodeURIComponent(Server_Token) },
                                success: function (r) {
                                    if (r.result_status) {
                                        alert("搶到了!請到 我的>我的錢包>我的體驗券 查看您搶到的體驗券");
                                    } else {
                                        alert(r.result_message);
                                    }
                                    plus.nativeUI.closeWaiting()
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    plus.nativeUI.closeWaiting()
                                }
                            });

                        }

                    }, "", "兌換序號", ["我搶", "取消"]);

                }
            },
            mounted: function () {
                this.canshow = true;
                var self = this;



                var firstinhome = plus.storage.getItem("firstinhome");
                if (firstinhome == null) {
                    //var cw;
                    //if (JSON.parse(Server_Token).Status == "管理員") {
                    //    cw = plus.webview.create(debugurl + "Partition/teach.html", "teach", { "cachemode": "noCache", "background": "black", "popGesture": "close", "height": "100%", "margin": "auto", "width": "100%", "userSelect": false });
                    //}
                    //else {
                    //    cw = plus.webview.create('Partition/teach.html', "teach", { "cachemode": "noCache", "background": "black", "popGesture": "close", "height": "100%", "margin": "auto", "width": "100%", "userSelect": false });
                    //}
                    //plus.webview.currentWebview().append(cw)
                }
            }
        })
        var restyle = 'circle';
        if (plus.os.name == 'iOS') {
            restyle = 'circle'
        }
        var canrefr = false;
        var closepack = function () {
            var onRefresh = function () {
                var endcout = 0;
                var goend = function () {
                    endcout++;
                    if (endcout > 1) {
                        //top["nowhomescroll"].endSuccess();
                        plus.webview.currentWebview().endPullToRefresh();
                        canrefr = false;

                        //plus.webview.currentWebview().setPullToRefresh({ support: false, style: 'circle', offset: '5px' });

                    }
                }
                $.ajax({
                    url: ajaxurl + "Home",
                    type: 'get',
                    headers: { "Server_Token": encodeURIComponent(Server_Token) },
                    success: function (r2) {
                        if (r2.result_status) {
                            top["DataBase"]["NewHome"] = r2.result_content;
                            newhomevue.list = top["DataBase"]["NewHome"]
                            plus.storage.setItem("NewHomeDataBase", JSON.stringify(r2.result_content))
                            goend()

                        } else {
                            console.error(r2.result_message);
                        }
                    }
                })
                $.ajax({
                    url: ajaxurl + "HomeHotNew",
                    type: 'get',
                    headers: { "Server_Token": encodeURIComponent(Server_Token) },
                    success: function (r2) {
                        if (r2.result_status) {
                            top["DataBase"]["NewHotNewer"] = r2.result_content;
                            newhomevue.newerlist = top["DataBase"]["NewHotNewer"]
                            plus.storage.setItem("NewHotNewerDataBase", JSON.stringify(r2.result_content))
                            //top["nowhomescroll"].endSuccess();
                            goend()
                        } else {
                            console.error(r2.result_message);
                        }
                    }
                })
            }
            canrefr = true;
            if (plus.webview.currentWebview()["issetpull"] != true) {
                plus.webview.currentWebview().setPullToRefresh({ support: true, style: restyle, offset: '5px', height: "10px" }, onRefresh);
                plus.webview.currentWebview()["issetpull"] = true;
            } else {
                plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: true, style: restyle, offset: '5px', height: "10px" } });
            }

            plus.webview.currentWebview().beginPullToRefresh();
        }
        //top["nowhomescroll"] = new MeScroll("mescroll", {
        plus.webview.currentWebview().endPullToRefresh();
        closepack();
       //$("#mescroll").on("touchmove", function (event) {
       //    console.dir(this.scrollTop)
       //    if (canrefr == false) {
       //        if (this.scrollTop < 5) {
       //
       //            canrefr = true;
       //            plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: true, style: 'circle', offset: '5px' } });
       //            plus.webview.currentWebview().beginPullToRefresh();
       //            // plus.webview.currentWebview().setPullToRefresh({ support: true, style: 'circle', offset: '5px' }, onRefresh);
       //        } else {
       //
       //            plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: false, style: 'circle', offset: '5px' } });
       //            plus.webview.currentWebview().endPullToRefresh();
       //        }
       //    } else {
       //        canrefr = false;
       //
       //        plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: false, style: 'circle', offset: '5px' } });
       //        plus.webview.currentWebview().endPullToRefresh();
       //    }
       //})

        var scrollev = function (e) {
            console.dir(e.scrollTop)
            console.dir(canrefr)
            if (canrefr == false) {
                if (e.scrollTop <= 5) {

                    canrefr = true;

                    if (plus.os.name == "iOS") {
                        plus.webview.currentWebview().beginPullToRefresh();
                    } else {
                        plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: true, style: restyle, offset: '5px', height: "10px" } });

                    }
                    // plus.webview.currentWebview().setPullToRefresh({ support: true, style: 'circle', offset: '5px' }, onRefresh);
                } else {
                    canrefr = false
                    plus.webview.currentWebview().endPullToRefresh();
                    plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: false, style: restyle, offset: '5px', height: "10px" } });
                }
            } else {
                //canrefr = false;
                //plus.webview.currentWebview().endPullToRefresh();
                //plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: false, style: 'circle', offset: '5px' } });
            }
        }
        var startX, startY, moveEndX, moveEndY, X, Y;

        $("#mescroll")[0].addEventListener('touchstart', function (e) {



            startX = e.touches[0].pageX;

            startY = e.touches[0].pageY;

        });

        $("#mescroll")[0].addEventListener('touchmove', function (e) {



            moveEndX = e.changedTouches[0].pageX;

            moveEndY = e.changedTouches[0].pageY;

            X = moveEndX - startX;

            Y = moveEndY - startY;

            if (Y > 0) { console.dir("下"); scrollev(this) }

            else if (Y < 0) {
                console.dir("上");
                canrefr = false
                plus.webview.currentWebview().endPullToRefresh();
                plus.webview.currentWebview().setStyle({ 'pullToRefresh': { support: false, style: restyle, offset: '5px', height:"10px" } });
            }

            else { console.dir("N"); }

        });
        //$("#mescroll").on("touchstart", function (e) {



        //})

        //});
        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 3500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

        });
        //bbim.setmarquee(function () {
        //    $('#gm').hide()
        //    $('#gm').text(plus.webview.currentWebview().text);
        //    var bl = $("body").width() + 30;
        //    var al = -$('#gm').width() - 30;
        //    $("#gm").offset({ left: bl })
        //    $('#gm').show()


        //    $('#gm').animate({ left: al }, (bl - al) * 5, "linear", function () {
        //        $("body").fadeOut(100, function () {
        //            plus.webview.currentWebview().close();
        //        })

        //    });

        //})
    </script>
</div>
