<!DOCTYPE html>
<html>
<head>
    <script src="../js/weui/jquery-2.1.4.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/weui/jquery-weui.js"></script>
    <link href="../css/weui/weui.min.css?1" rel="stylesheet" />
    <script src="../js/BridgeClass.js?15"></script>
    <meta http-equiv="cache-control" content="private">
    <meta http-equiv="pragma" content="private">
    <!--<script src="../js/html5plus/common.js?4"></script>-->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <script>
        window.onerror = function (message, source, lineno, colno, error) {
            alert(error);
        };
        onerror = function (message, source, lineno, colno, error) {
            alert(error);
        };
    </script>
    <style>
    </style>
</head>
<body style="width:100%;height:100%;display:none" >
    <div class="weui-mask" onclick="plus.webview.close(plus.webview.currentWebview())"></div>
    <div class="weui-dialog" id="trashmsg">
        <div class="weui-dialog__hd" style="text-align:left"><strong class="weui-dialog__title">檢舉騷擾訊息</strong></div>
        <div class="weui-dialog__bd">
            <div class="weui-cells__title" style="width:100%;text-align:left">選項:</div>
            <div class="weui-cells weui-cell_select" style="border:0px solid white">
                <div class="weui-cell__bd" style="border:0px solid white">
                    <select class="weui-select" name="select1" v-model="typeselect" style="border:1px groove #e5e5e5;font-size:12px">
                        <option v-for="(item) in alltype" :value="item">{{item}}</option>
                     
                    </select>
                </div>
            </div>
            <div class="weui-cells__title" style="width:100%;text-align:left" v-if="typeselect=='其他'">詳細描述:</div>
            <div class="weui-cells weui-cells_form" v-if="typeselect=='其他'">
                <div class="weui-cell" style="border-left: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" v-model="demsg"  rows="3" name="Content" style="user-select: all;-webkit-user-select: all;background-color: rgba(255, 255, 255, 0);"></textarea>

                    </div>
                </div>
            </div>
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" btn="0" class="weui-dialog__btn weui-dialog__btn_default" onclick="plus.webview.close(plus.webview.currentWebview())">取消</a>
            <a href="javascript:;" btn="1" class="weui-dialog__btn weui-dialog__btn_primary" @click="sendmsg()">送出</a>
        </div>
    </div>
    <script>
        var Bridge;
        var $ready;
        var pready;
        var ajaxurl;
        var msgvue;
      
        var init = function () {
            if (!pready)
                return;
            if (!$ready)
                return;
            plus.nativeUI.closeWaiting();
            msgvue = new Vue({
                el: "#trashmsg",
                data: {
                    typeselect: "廣告騷擾",
                    demsg: "",
                    alltype: [
                        "廣告騷擾",
                        "言語騷擾",
                        "詐騙訊息",
                        "其他",
                    ],
                    sheid: plus.webview.currentWebview().mid,
                    type: plus.webview.currentWebview().type
                },
                created: function () {
                    if (plus.webview.currentWebview().type == "Message") {
                        this.alltype = [
                            "廣告騷擾",
                            "言語騷擾",
                            "裸露圖影",
                            "詐騙訊息",
                            "其他",
                        ];
                        this.typeselect = "廣告騷擾";
                    } else if (plus.webview.currentWebview().type == "News") {
                        this.alltype = [
                            "廣告動態",
                            "情色動態",
                            "不實動態",
                            "其他",
                        ];
                        this.typeselect = "廣告動態";
                    } else if (plus.webview.currentWebview().type == "Member") {
                        this.alltype = [
                            "廣告訊息",
                            "情色訊息",
                            "不實訊息",
                            "其他",
                        ];
                        this.typeselect = "廣告訊息";
                    } else if (plus.webview.currentWebview().type == "Skill") {
                        this.alltype = [
                            "廣告訊息",
                            "情色訊息",
                            "不實訊息",
                            "其他",
                        ];
                        this.typeselect = "廣告訊息";
                    }
                },
                methods: {
                    sendmsg: function () {
                        var self = this;
                        plus.nativeUI.showWaiting("舉報中");
                        $.ajax({
                            url: ajaxurl + "TrashMsg",
                            type: 'post',
                            data: self.$data,
                            timeout: 30000,
                            headers: { "Server_Token": encodeURIComponent(Server_Token) },
                            success: function (r) {
                                if (r.result_status) {
                                    alert("舉報成功,我們將會在24小時內進行處理");
                                } else {

                                    alert(r.result_message);
                                    //  alldata();
                                }
                            },
                            onerror: function () {

                            },
                            complete: function () {
                                plus.nativeUI.closeWaiting();
                                plus.webview.close(plus.webview.currentWebview())
                            }
                        });
                    }

                }
            })
            alert = function (e, cb) {
                plus.nativeUI.alert(e, function () {
                    if (cb) {
                        cb()
                    }
                }, "訊息", "確定");
            }
            Bridge = new BridgeClass();

            Bridge.getData("APIUrl", function (apiurl) {
                // alert(apiurl);
                ajaxurl = apiurl;
                Bridge.getData("Server_Token",
                    function (tok) {

                        if (tok) {
                            var data = JSON.parse(tok);
                            data["VCode"] = JSON.parse(tok).Pw;
                            data["Pw"] = data["oPw"];
                            Server_Token = tok;
                            if (JSON.parse(Server_Token).Status == "管理員")
                                ajaxurl = "http://192.168.1.110:8900/api/"
                            $("body").show();
                           // startpage();
                            plus.nativeUI.closeWaiting();

                            //$.ajax({
                            //    url: ajaxurl + "Login",
                            //    type: 'post',
                            //    data: data,
                            //    timeout: 30000,
                            //    success: function (r) {
                            //        if (r.result_status) {
                            //            Server_Token = JSON.stringify(r.result_content);

                            //            Bridge.setData("Server_Token", Server_Token, function () {
                            //                if (JSON.parse(Server_Token).Status == "管理員")
                            //                    ajaxurl = "http://192.168.1.110:8900/api/"


                                            

                            //                $("body").show();
                            //                //   alldata();
                            //            });
                            //        } else {

                            //            alert(r.result_message);
                            //            //  alldata();
                            //        }
                            //    },
                            //    onerror: function () {

                            //        //  alldata();
                            //    },
                            //    complete: function () {
                            //        plus.nativeUI.closeWaiting();

                            //    }
                            //});

                        } else {

                        }

                    }
                )


            })
        }
        document.addEventListener('plusready', function () {
            pready = true;
            init();
        }, false);

        $(function () {
            $ready = true;
            init();
        })
        function sendmsg() {
            var msg = $("textarea[name=Content]").val();
            var se = $("[name=select1]").val();
           
         
            if (false) {
           
            } else {
                plus.nativeUI.showWaiting("申請取消中");
                $.ajax({
                    url: ajaxurl + "Order/" + plus.webview.currentWebview().orderid,
                    type: 'delete',
                    headers: { "Server_Token": encodeURIComponent(Server_Token) },
                    data: {se:se,msg:msg},
                    timeout: 30000,
                    success: function (r) {
                        if (!r.result_status) {
                            plus.nativeUI.closeWaiting();
                          
                            alert(r.result_message);
                        } else {
                            alert("申請完成");
                            plus.webview.close(plus.webview.currentWebview())
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        plus.nativeUI.closeWaiting();
                      
                        alert(textStatus)
                    },
                    complete: function () {
                     
                    }
                });

            }
        }
    </script>
</body>

</html>
